.main {
  
 
    padding: 20px;
    }
    
    .card_main {
      
     
    border: 1px solid #ccc;
      
     
    border-radius: 5px;
      
     
    background-color: #f8f9fa;
      
     
    margin-bottom: 20px;
    }
    
    .card-header {
      
     
    background-color: #e9ecef;
      
     
    border-bottom: 1px solid #ccc;
      
     
    padding: 5px 10px;
    }
    
    .title-text {
      font-size: 20px;
      font-weight: bold;
    }
    
    .card-body {
      
     
    padding: 10px;
    }
    
    .fiche_show {
      
     
    padding: 10px;
      
     
    background-color: #fff;
      
     
    border: 1px solid #ccc;
      
     
    border-radius: 5px;
      
     
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    .table {
      
     
    width: 100%;
      
     
    margin-bottom: 1rem;
      
     
    color: #212529;
    }
    
    .ligne {
      
     
    border-collapse: collapse;
    }
    
    .titre2 {
      
     
    font-size: 16px;
      
     
    font-weight: bold;
      margin-bottom: 10px;
    }
    
    .info {
      
     
    font-weight: bold;
      
     
    margin-left: 5px;
    }
    
    .btn-primary {
      
     
    background-color: #007bff;
      
     
    color: #fff;
      margin-right: 100px;
     
    padding: 5px 10px;
      
     
    border-radius: 3px;
      
     
    text-decoration: none;
    }
    .btn-danger {
      
     
      background-color: red;
        
       
      color: #fff;
        
       
      padding: 5px 10px;
        
       
      border-radius: 3px;
        
       
      text-decoration: none;
      }
    
    .btn-primary:hover {
      
     
    background-color: #0056b3;
    }
    
    .btn-primary:focus {
      
     
    box-shadow: none;
      outline: none;
    }